ConnectionStrings__DefaultConnection=Server=localhost;Database=MesaSitec;Trusted_Connection=True;TrustServerCertificate=True

JWT_SECRET=USAR_UNA_LLAVE_CON_MINIMO_32_CARACTERES

SEED_FECHA_BASE=2026-01-15T08:00:00Z